* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.navbar .navbar-text{
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 20%;
}

.navbar-toggler{
  border: none;
}
p{
  color: black;
}
.proyectos{
  text-align: center;
  height: 40px;
  width: auto;
  /*  background-color: grey; */
  text-shadow: 5px white;
}
.galeria {
  width: 100%;
}
.galeria img {
  object-fit: cover;
  position: center;
  width: 100%;
  height: 50%;
}
.galeria ul li {
  height: 15px;
  height: 15px;
  background-color: black;
}
.carousel-inner {
  height: 500px;
  width: 100%;
}
.carousel-control-prev-icon {
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: black;
}
.carousel-control-next-icon {
  height: 20px;
  width: 20px;
  padding: 10px;
  background-color: black;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#proyectos {
  text-align: center;
}

main {
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  margin: auto;
}

img {
  margin-top: 20px;
  width: 50%;
  height: 50%;
}

li {
  text-align: center;
}

.producto {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
}

.card {
  height: 500px;
  width: 30%;
  background-color: white;
  border: 2px solid black;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.9s;
}

.card1 .card-img {
  background-image: url(img/IMG_B3E6CF34F365-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.card2 .card-img {
  background-image: url(img/IMG_7107.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}
.card3 .card-img {
  background-image: url(img/luna.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.producto h4 {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: o o 5px #000;
  padding: 30px;
}

h5 {
  text-align: center;
  font-size: 18px;
}

.producto p {
  font-size: 14px;
  text-align: center;
  padding: 20px;
}
.producto .btn {
  align-items: center;
}

textarea {
  margin-left: 10px;
}

div .enviar {
  margin-left: 10px;
}

aside {
  height: 250px;
}

.nleft {
  height: 450px;
  background-image: url(img/webprogramer.jpg);
  background-size: cover;
  background-position: center;
}

.nright {
  color: antiquewhite;
}

.footer {
  height: auto;
  width: 100%;
  font-size: 40px;
  color: black;
  background-color: darkgray;
  text-align: center;
  letter-spacing: 15px;
  margin-top: 10%;
}
a{
  color: black;
}
